.modifier-form {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.form-label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.form-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.profile-picture-preview {
    width: 100px;
    height: 100px;
    display: block;
    margin: 10px 0;
}

.submit-button {
    background-color: #ff88c2;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 20px 0;
    display: block;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.submit-button:hover {
    background-color: #ff77b9;
}