.search_info_user{
    display: flex;
    align-items: center;
    gap: 10px;
}
.search_info_user:hover{
    background-color: rgb(207, 207, 207);
    border-radius: 10px;
    width: 120%;
}
.input_search{
        width: 120%;
        padding: 10px;
        border: none;
        border-radius: 20px;
        margin-bottom: 10px;
}